.tareas{
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    transition: .5s all ease-in-out;

    @media(width>=1366px){    height: 100dvh;

        font-size: 1.2rem;
        grid-template-columns: .5fr 2fr;
       
    }   
    
     .left-panel{
        transform: translateX(-80%);
        transition: transform .5s ease-in-out;
        height: 100%;
        background-color: var(--lightBlue);
        padding: 1rem 0;
        @media(width>=1366px){
            height: 100%;
        }   
        &:hover{
            transform: translateX(0%);
        }
        .links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            @media(width>=1366px){
                height: 100%;
                flex-direction: column;

            }   
      
            .routesTasks{
                margin:  0 1rem;
                font-size: .9rem;
                color: white;
                font-weight: 900;
                text-align: center;
                text-decoration: none;
                text-transform: capitalize;
                @media(width>=1366px){
                        font-size: 1.2rem;
                        margin: 0.7rem 0;
                       
                }
            }
        }
    }
  
}

.header-task
{
    padding: 1.2rem 0;
    background-color: var(--lightViolet);
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    height: 100%;
    margin: 2rem auto;
    color: white;
  
}
.header-task p{
    margin: 0 3.5rem;
    font-size: .9rem;
    font-weight: 600;
}



.form label{
    display: block;
    margin: .5rem 0;
}
.container-right-panel{
    padding: 5rem 0;
}

.crear-tarea{
    padding: 3rem 0;
    display: grid;
    grid-template-rows: .5fr 1fr;

    place-items: center;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    @media(width>1366px){
        padding: 5rem 0;
        grid-template-rows: auto;

        
    }
    .form{
        width: 100%;
        display: grid;
        row-gap: 1rem;
        height: 100%;
    }
    .form input{
        width: 100%;
        padding: .5rem .5rem;
        font-size: .9rem;
        border-radius: 20px;
        border: 1px rgb(191, 191, 191) solid;
        outline: none;
        &:hover{
            cursor: pointer;
            transition: border .5s ease-in-out;
            border: 1.5px solid var(--lightBlue);
            outline: none;
        }
    }
    .form textarea{
        font-size: .9rem;
        width: 100%;
        border-radius: 20px;
        padding: .5rem .5rem;
        border: 1px rgb(191, 191, 191) solid;
        outline: none;
        &:hover{
            cursor: pointer;
            transition: border .5s ease-in-out;
            border: 1.5px solid var(--lightBlue);
            outline: none;
        }
    }
}